<!DOCTYPE html>
<html>
  <head>

    <title>Cookbook</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all'%>
    <%= javascript_include_tag 'application' %>
    <%= yield :included_scripts %>
  </head>

  <body>
    <%= render 'navbar' %>
    <%= yield %>

    <footer class="w3-container w3-teal" style="position: fixed;  bottom: 0;   width: 100%;
    text-align: center;">
    <h5>Footer</h5>
    <p>Footer information goes here</p>
    </footer> 
  </body>

  <script>
    <%= yield :java_script %>
  </script>

</html>
